@model User
@{
    ViewData["Title"] = "Login page";
}

<div class="form-container">

    <h1 class="text-center">Prijava</h1>
    @using (Html.BeginForm("Index","Home",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel("Login")
    }
</div>
