@{
    ViewData["Title"] = "Zasebnost";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="privacy-container">
    @*privacy*@
    <h2>Izjava o zasebnosti</h2>
    <p class="intro larger">
        Spoštovanje zasobnosti uporabnikov spletnega mesta, vključno z avoravnjem osebnih podatkov, je za nas ključnega pomena.
        Zavezani smo k varovanju podatkov ter zagotavljanju varnosti in zaupnosit. Prosimo vas, da se podrobneje seznanite z informacijami o obdelavi vaših podatkov.
    </p>
    <div class="content">
        <h4>Obisk spletnega mesta</h4>
        <p>Ob vsakem obisku spletne strani se nekateri podatki avtomatsko shranijo za določeno časovno obdobje:</p>

        <p>
            <div class="dot"> IP številka - za identifikacijo posamezne naprave</div>
            <div class="dot"> datum in čas obiska strani</div>
        </p>
        

        <p>
            Namen zbiranja teh podatkov je zagotavljanje varnosti omrežja in informacij za preprečevanje neavtoriziranih dostopov, ki lahko ogorzijo celovitost
            in zaupnost shranjenih ali prenesenih osebnih podatkov ter varnost pozameznih storitev.
        </p>
        
        <p>Takšna obdelava je nujna za izvajanje nalog.</p>

        <p>Podatki se hranijo le 30 dni od obiska spletne strani.</p>
    </div>

    @*cookies*@
    <h2>Izjava o piškotkih</h2>
    <div class="content">
        <p>
            Ob obisku spletnega mesta preko .NET Core rešitve v obliki "piškotkov", ki je nameščena na strežniku s katero opravlja izključno samo organ
            za izvajanje storitve, beleži naslednje podatke
        </p>
        <p>
            <div class="dot">IP naslov</div>
            <div class="dot">Lokacijo</div>
            <div class="dot">Datum in čas obiska</div>
            <div class="dot">Naložene in prenesene datoteke</div>
            <div class="dot">Iskanje na strani</div>
            <div class="dot">Klike na povezave</div>
            <div class="dot">Verzijo brskalnika</div>
            <div class="dot">Trenutno sejo</div>
        </p>

        <p>
            Namen zbiranja teh podatkov je zagotavljanje varnosti omrežja in informacij za preprečevanje neavtoriziranih dostopov, ki lahko ogorzijo celovitost
            in zaupnost shranjenih ali prenesenih osebnih podatkov ter varnost pozameznih storitev.
        </p>

        <p>Takšna obdelava je nujna za izvajanje nalog.</p>

    </div>
    <p class="intro">
        Vsi podatki, hranjeni so strogo zaupni in se na nikakršen način ne pošiljajo ali posredujejo.
    </p>
</div>



