<div class="form-container text-center">
    <h1>Vloga uspešno oddana</h1>
    <hr />
    <p>Vaša vloga je bila uspešno oddana v pregled. Odgovor vam bomo sporočili na
        vaš elektronski naslov. Stanje vaše vloge lahko spremljate na vašem profilu
    </p>
    <a class="btn btn-dark" asp-area="" asp-controller="Profile" asp-action="Index">Končaj</a>
</div>